html {
    min-height: 100%;
}

body {
    background-image: linear-gradient(115deg, rgba(0, 58, 15, 0.9), rgba(0, 136, 206, 0.9)), url("https://files.nsctotal.com.br/s3fs-public/2019-08/MTX01_0.jpg?nk1pZS3h9LJZOqvkHvlwINcM1Jqe8TzQ");
    font-family: Montserrat;
    color: white;
}

input, button, select {
    display: block;
    margin: 0px 0px 10px;
    width: 100%;
    padding: 10px 0 10px 10px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
}

button {
    background-image: linear-gradient(45deg, #00BB00, #00FFBB);
    color: white;
    font-size: 20px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin: 0px 0px 10px;
}

#comment {
    width: 100%;
    height: 80px;
}

#definitely, #not-sure, #maybe, .box {
    width: auto;
    display: inline;
    height: auto;
    margin: 0;
    padding: 0;
}

#description {
    text-align: center;
    font-style: italic;
    margin: 0 0 30px;
    font-size: 20px;
}

#survey-form {
    border-radius: 10px;
    width: 600px;
    margin: auto;
    text-align: justify;
    padding: 30px;
    background-color: hsla(150, 40%, 10%, 0.93);
}

.survey-question {
    margin: 0px 0px 25px;
}

.footer, a {
    margin: 40px 0 15px;
    text-align: center;
    color: white;
}